<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.7" targetFramework="net452" />
  <package id="jQuery" version="3.3.1" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.17.0" targetFramework="net452" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net452" />
  <package id="Knockout.Validation" version="2.0.3" targetFramework="net452" />
  <package id="knockoutjs" version="3.4.2" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.FileSystems" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb.zh-Hans" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.StaticFiles" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.StaticFiles.zh-Hans" version="4.0.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
</packages>