<div class="row">
    <h4 class="page-header text-info">
        用户管理
    </h4>
</div>
<div class="row">
    <div>
        <uib-tabset>
            <uib-tab index="0" heading="{{lang.baseInfo}}">
                <div ng-include="'/app/views/users/base.html'"></div>
            </uib-tab>            
            <uib-tab index="1" heading="用户部门信息">
                <div>
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="col-sm-2">所属部门</th>
                                <th>部门角色</th>
                                <th class="col-sm-1"><button ng-click="append()" class="btn btn-primary btn-xs">添加部门</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dep in model.Departments">
                                <td>{{dep.Name}}</td>
                                <td>
                                    <select class="selectpicker col-xs-12 col-md-10" multiple data-live-search="true" ng-model="dep.Roles">
                                        <option ng-repeat="role in all" value="{{role.Name}}">
                                            {{role.Name}}({{role.Description}})
                                        </option>
                                    </select>  
                                </td>
                                <td><button class="btn btn-danger btn-xs" ng-click="remove(item)">{{lang.remove}}</button></td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>                
            </uib-tab>
        </uib-tabset>
    </div>
</div>